@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.update-slide {
    animation: 10s slide linear infinite;
}

/* ::-webkit-scrollbar {
    height: 17px; 
  } */